body {
    background-color: rgb(31, 22, 13);
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.help-category-topics-container {
    border: 1px solid rgb(60, 60, 60);
    display: table-cell;
    vertical-align: top;
    min-width: min-content;
    width: 100%;
}

.help-category-tabs {
    height: 100%;
    overflow-y: auto;
}

.help-category-tab {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: RGB(238, 210, 173);
    cursor: pointer;
    font-weight: normal;
    background-color: #4C3F2F;
    border: 1px solid;
    border-top-color: RGB(62, 44, 32);
    border-left-color: RGB(62, 44, 32);
    border-right-color: RGB(48, 36, 22);
    border-bottom-color: RGB(48, 36, 22);
    padding: 0.5em;
}

.help-category-tab:hover {
    color: gold;
    background-color: RGB(66, 50, 35);
    border-top-color: RGB(48, 36, 22);
    border-left-color: RGB(48, 36, 22);
    border-right-color: RGB(62, 44, 32);
    border-bottom-color: RGB(62, 44, 32);
}

.help-category-topics-container {
    height: 100%;
}

.help-topic-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.help-topic-table {
    display: table;
    width: 100%;
}

.help-topic-row {
    display: table-row;
    vertical-align: middle;
    width: 100%;
}

a {
    color: #dcc397;
}

a.help-topic-row {
    color: white;
    text-decoration: none;
}

a.help-topic-row:hover {
    background-color: #4C3F2F;
}

.help-topic-icon {
    display: table-cell;
    width: 15px;
    height: 15px;
    padding: .5em;
}

a.help-topic-row .help-topic-icon circle {
    fill: green;
}

a.help-topic-row:visited .help-topic-icon circle {
    fill: palevioletred;
}

.help-topic-title {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.tooltip {
    display: inline;
}

.tooltip-text {
    user-select: none;
    font-size: 1rem;
    display: none;
    position: relative;
}

.tooltip:hover .tooltip-text {
    display: inline;
}

.tooltip #copy-link {
    user-select: none;
    color: grey;
}

.tooltip:hover #copy-link {
    color: lightsteelblue;
}

.tooltip:active #copy-link {
    color: grey;
}