body {background-color: RGB(150, 125, 92); color: #DCC397; font-weight: normal; font-family: Verdana; font-size: 8pt;}
table {color:white; font-weight: normal; font-family: Verdana; font-size: 9pt}
a {color:#DCC397;}
a:hover{color:#DCC397;}
