<html>

<head>
    <title>{{page.slug}} - Lands Of Hope Help Guide</title>
    <link rel="stylesheet" href="/css/help.css" />
</head>

<body>
    <section class="help-topic-table">
        {% for help_topic in site.help_topics %}

        {% if help_topic.category == page.slug %}
        <a href="{{help_topic.url}}" class="help-topic-row">
            <svg class="help-topic-icon" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <radialGradient id="gradient">
                        <stop offset=".4" stop-color="white" stop-opacity="1" />
                        <stop offset="1" stop-color="white" stop-opacity="0" />
                    </radialGradient>
                    <mask id="gradient-mask">
                        <rect x="0" y="0" width="15" height="15" fill="url(#gradient)" />
                    </mask>
                </defs>

                <circle mask="url(#gradient-mask)" cx="7.5" cy="7.5" r="7.5" />
            </svg>
            <span class="help-topic-title">{{help_topic.name}}</span>
        </a>
        {% endif %}

        {% endfor %}
    </section>
    <section class="help-topic-pages">

    </section>
</body>

</html>